# 1. 파이썬 가상환경 폴더 제외 (절대 올리면 안 됨)
venv/
.venv/
ENV/

# 2. 파이썬 실행 시 자동으로 생기는 임시 캐시 파일 제외
**/__pycache__/
*.pyc
*.pyo
*.pyd

# 3. 운영체제(OS) 임시 파일 제외
Thumbs.db
ehthumbs.db
Desktop.ini
.DS_Store

# 4. 내 로컬 가상 계좌 정보 (개인 자산 데이터이므로 백업에서 일단 제외 권장)
# 만약 깃허브에 내 가상 자산 잔고를 같이 올리고 싶다면 이 줄 맨 앞에 #을 붙여 주석처리 하세요.
account.json

app.log